# OCR Engine
pytesseract==0.3.10   # Python wrapper for Tesseract OCR

# Image Processing
opencv-python==4.9.0.80
numpy==1.24.3
Pillow==10.0.1

# Additional Utilities
matplotlib==3.7.2  # For visualization (optional)
scipy==1.10.1  
enum ==0.4.7
os-sys 2.1.4
